@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
body {
    background-color: #B4E197;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

nav {
    /* background-color: rgb(255, 255, 255); */
    width: 100%;
    height: 50px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-image: url(../static/paper.png); */
    background-color: #0b8507;
    position: sticky;
    top: 0px;
    left: 0px;
}

.namelogo {
    display: flex;
    flex-direction: row;
}

.image {
    padding: 2.5px 0px 2.5px 2.5px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.nav-name {
    margin-left: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    /* border-bottom: 3px outset rgb(33, 255, 12);
    border-radius: 50%; */
    color: white;
}

.namebox {
    margin-bottom: 2px;
    /* border: 2px solid red; */
}

.list>* {
    list-style: none;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    justify-content: space-between;
    width: 55vw;
    padding: 10px 27px 0px 0px;
    font-size: 17px;
}

.nav-item:hover {
    /* font-size: 20px; */
    transition-duration: 0.2s;
    /* box-shadow: inset 160px 0 0 0 #a4d654; */
    /* background-color: #435f84; */
    /* border-radius: 5px; */
}

.google>* {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border: solid 2px #fff;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    /* color: rgb(207, 205, 205); */
    color: #fff
}

.eco-image {
    height: 10%;
    width: 100%;
}

.form {
    width: 100vw;
    /* height: 90vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 45%;
    border-radius: 20px;
    background: #0b850792;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    padding: 20px 0px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.198);
}

form>* {
    width: 80%;
}

form>.inputgrp {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 40px;
}

form>.inputgrp input {
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid white;
    color: white;
    background-color: transparent;
}

form>.inputgrp label {
    color: white;
    font-size: 18px;
}

form>.inputgrp #Image button {
    /* display: none; */
    border: none;
}

form>.inputgrp .imageupload {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

form>.inputgrp .imageupload input {
    width: 50%;
    border: 0px;
}

form>.inputgrp .uploadImage,
button {
    padding: 7px 7px;
    cursor: pointer;
    background-color: #B4E197;
    color: #0b8507;
    border-radius: 7px;
    transition: all;
    transition-duration: 0.7s;
    border: 0px;
}

form>.inputgrp .uploadImage:hover,
button:hover {
    padding: 10px 10px;
    background-color: #0b8507;
    cursor: pointer;
    color: white;
    box-shadow: 1px 1px 10px #0b8507;
}

form>.inputgrp .imageupload {
    display: flex;
    flex-direction: row;
}


/*GOOGLE API*/

.goog-te-banner-frame {
    display: none;
    /* Removes Google banner at the top */
}

#goog-gt-tt {
    /* removes box with original text when translated text is hovered */
    display: none !important;
    visibility: hidden !important;
    color: transparent !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none !important;
    font-family: arial;
    font-size: 0px !important;
    width: 0px !important;
    padding: none;
    margin-bottom: 10px;
}

select.goog-te-combo option {
    background: var(--dark) !important;
    /* makes dropdown dark OR add your own */
}

body {
    position: unset !important;
    /* Removes space created by Google banner at the top */
}

.goog-logo-link,
.goog-logo-link:link,
.goog-logo-link:visited,
.goog-logo-link:hover,
.goog-logo-link:active {
    display: none;
    /* Removes Google logo below language switcher dropdown */
}

.goog-te-gadget {
    font-size: 0px !important;
    color: white !important;
    /* Removes "Powered by" text below language switcher dropdown */
}

.goog-te-combo,
.goog-te-banner *,
.goog-te-ftab *,
.goog-te-menu *,
.goog-te-menu2 *,
.goog-te-balloon * {
    font-family: var(--body-font) !important;
    font-size: 17px !important;
    /* changes font of language switcher dropdown to match site OR add your own */
    background-color: #0b8507;
    /* makes text in dropdown white */
}

select.goog-te-combo {
    padding-right: 1.2rem !important;
    /* OPTIONAL reduce padding obscuring language name */
    padding: .2rem .8rem;
    /* makes lang switcher less thick */
}

select.goog-te-combo option {
    background: var(--dark) !important;
    /* makes dropdown dark OR add your own */
}

@media all and (max-width:37.4375em) {
    #google_element {
        padding: 2rem .4rem;
        /* adds padding when screen becomes smaller and footer items are stacked */
    }
}


/*** Removing styling that appears when hovering over translated text ***/

#goog-gt-tt>div {
    /* removes box with original text when translated text is hovered */
    visibility: hidden;
    display: none;
}

#goog-gt-tt {
    /* removes box with original text when translated text is hovered */
    display: none !important;
    visibility: hidden !important;
    color: transparent !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none !important;
    font-family: arial;
    font-size: 0px !important;
    width: 0px !important;
    padding: none;
}

.goog-text-highlight {
    /* removes text styling when translated text is hovered */
    background-color: #0b8507;
    box-shadow: none !important;
}