<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <title>SELL | AgroPlus</title>
    <!-- <link rel="stylesheet" href="../static/buystyle.css"> -->
    <link rel="stylesheet" href="{% static 'sellstyle.css' %}">
</head>

<body>
    <nav>
        <div class="namelogo">
            <img class="image" src="../static/logo1.PNG">
            <div class="namebox">
                <span class="nav-name">Agroplus</span>
            </div>
        </div>
        <div class="list">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="../"><i class="fas fa-home"></i>&nbsp; Home&nbsp;&nbsp;&nbsp;</i></a>
                </li>
                <li class="nav-item">
                    <a href="./farmercorner"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; Farmer's Corner&nbsp;&nbsp;</i></a>
                </li>
                <li class="nav-item">
                    <a href="./Buy"><i class="fa fa-shopping-cart" ></i>&nbsp; Buy&nbsp;&nbsp;</i></a>
                </li>
                <li class="nav-item">
                    <a href="./Sell"><i class="fa fa-inr" aria-hidden="true"></i>&nbsp; Sell&nbsp;&nbsp;</i></a>
                </li>
                <li class="nav-item">
                    <a href="./Croprate"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp; Crop Rates&nbsp;&nbsp;</i></a>
                </li>
                <li class="nav-item">
                    <a href="./logout"> LOGOUT &nbsp; <i class="fas fa-sign-out-alt"></i></a>
                </li>
                <li class="google" style="color:#0b8507">
                    <div id="google_element"></div>
                </li>
            </ul>
        </div>
    </nav>
    <img class="eco-image" src="../static/Ecommerce.png" alt="...">

    <!-- GOOGLE API -->
    <script src="https://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>

    <script>
        function loadGoogleTranslate() {
            new google.translate.TranslateElement({
                pageLanguage: "en",
                includedLanguages: "mr,hi,en",
            }, "google_element");
        }
    </script>
    <!-- GOOGLE API ENDS-->
    <div class="form">

        <form class="Seller_details_form" method="post" action="/Sell" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="inputgrp">
                <label for="SellerName" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="SellerName" name="SellerName" required>
            </div>
            <div class="inputgrp">
                <label for="CropName" class="form-label">Crop Name</label>
                <input type="CropName" class="form-control" id="CropName" name="CropName" required>
            </div>
            <div class="inputgrp">
                <div class="imageupload">
                    <label class="uploadImage" for="Image">Upload Image</label>
                    <input type="file" id="Image" name="Image" value="Upload">
                    <!-- <input type="submit" name="submit" value="Upload" upload_to="media/images" default_value="static/Sell_images/AGROPLUS.png"> -->
                </div>

            </div>
            <div class="inputgrp">
                <label for="imgpath" class="form-label">Image Name ( With Extention )</label>
                <input type="text" class="form-control" id="imgpath" name="imgpath" required>
            </div>

            <div class="inputgrp">
                <div class="subinputgrp quantity">
                    <label for="Quantity" class="form-label">Quantity ( in kg )</label>
                    <input type="text" class="form-control" id="Quantity" name="Quantity" required>
                </div>
            </div>
            <div class="inputgrp">
                <div class="subinputgrp">
                    <label for="Description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="Description" name="Description">
                </div>
            </div>
            <div class="inputgrp" style="text-align:center;justify-content: center;">
                <button class="button" type="submit" class="btn btn-light" value="Upload" upload_to='static/Sell_images'>SUBMIT</button>
            </div>
    </div>
    </form>

    </div>
</body>

</html>